@model IEnumerable<NorthwindProject.Models.CustomerOrders>

@{
    ViewData["Title"] = "Customer Orders";
}

<h1>Customer Orders</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.CompanyName, "Sophia", "Home", new {id = item.CompanyName})<br />
                    @Html.DisplayNameFor(model => model.ContactName) &#38; @Html.DisplayNameFor(model => model.ContactTitle): @Html.DisplayFor(modelItem => item.ContactName), @Html.DisplayFor(modelItem => item.ContactTitle)
                </td>
            </tr>
        }
    </tbody>
</table>