@model IEnumerable<NorthwindProject.Models.Employee>

@{
    ViewData["Title"] = "Employee Info";
}

<h1>Employee Information</h1>
<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleOfCourtesy)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HireDate)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Region)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HomePhone)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Extension)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReportsTo)
                </th>
            </tr>
        </thead>
</table>
