@model NorthwindProject.Models.Customer

@{
    ViewData["Title"] = "Customer Orders";
}
<a onclick="history.go(-1); return false;" href="#">Back to Customer List</a>

<br />
<br />

<h1>Customer Information</h1>

<h2>@Model.CompanyName</h2>

<table>
    <tbody>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CustomerID)</th>
            <td>@Model.CustomerID</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ContactName)</th>
            <td>@Model.ContactName</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ContactTitle)</th>
            <td>@Model.ContactTitle</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <td>@Model.City</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Region)</th>
            <td>@Model.Region</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PostalCode)</th>
            <td>@Model.PostalCode</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Country)</th>
            <td>@Model.Country</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Fax)</th>
            <td>@Model.Fax</td>
        </tr>
    </tbody>
</table>
@*<br />
<h1>Orders</h1>
<table>
    <tbody>
        <tr>
            <th>Order ID</th>
            <th>Employee ID</th>
            <th>Order Date</th>
            <th>Required Date</th>
            <th>Shipped Date</th>
        </tr>
        @foreach (var item in Model.Order)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OrderID)</td>
                <td>@Html.DisplayFor(modelItem => item.EmployeeID)</td>
                <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                <td>@Html.DisplayFor(modelItem => item.RequiredDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ShippedDate)</td>
            </tr>
        }
    </tbody>
</table>*@